@import "../../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";

$border-color: #cecece;
$collapse-button-width: 26px;
$collapse-button-height: 26px;
$collapse-button-border-radius: 2px;

.collapsible-panel-container{
  .collapsible-panel{
    .collapsible-panel-content {
      overflow: auto;
      @include position(absolute, 0 0 0 0);
    }
  }

  &.collapsed{
    .collapsible-panel-content{
      display: none;
    }
    .button-collapse-panel{
      display: none;
    }
    .button-expand-panel{
      display: block;
    }
  }

  .button-collapse-panel{
    display: block;
  }
  .button-expand-panel{
    display: none;
  }

  .collapsible-panel-controls{
    position: absolute;
    background: transparent;
    z-index: 50;
  }

  .button-collapse-panel,
  .button-expand-panel{
    position: absolute;
    padding: 0;
    font-size: 9px;
  }
}

// =============

$default-north: 100px;
$default-east: 100px;
$default-south: 100px;
$default-west: 100px;

$resize-tool-width: $collapse-button-width / 2;

.collapsible-panel {
  position: absolute;

  &--top,
  &--bottom{
    .button-collapse-panel,
    .button-expand-panel{
      left: 50%;
      margin-left: -$collapse-button-width / 2;
      height: $collapse-button-height / 2;
      width: $collapse-button-width * 2;
    }
  }
  &--left,
  &--right{
    .button-collapse-panel,
    .button-expand-panel{
      top: 50%;
      margin-top: -$collapse-button-height / 2;
      height: $collapse-button-height * 2;
      width: $collapse-button-width / 2;
    }
  }


  &--top{
    &.collapsed{
      > .collapsible-panel {
        height: 0 !important;
      }
      > .collapsible-panel-controls{
        height: 0 !important;
      }
    }

    > .collapsible-panel {
      border-bottom: 1px solid $border-color;
      left: 0; right:0; top:0;
      height: $default-north;

      > .collapsible-panel-controls{
        bottom: 0;
        left: 0;
        width: 100%;

        .button-collapse-panel{
          bottom: 0;
          border-bottom: none;
          @include border-bottom-radius($collapse-button-border-radius);
        }
        .button-expand-panel{
          top: 100%;
          border-top: none;
          @include border-top-radius($collapse-button-border-radius);
        }
      }
    }
    &.resizeable{
      > .collapsible-panel {
        > .collapsible-panel-controls{
          background: $border-color;
          cursor: n-resize;
          &:hover{
            height: $resize-tool-width;
          }
        }
      }
    }
  }

  &--right{
    &.collapsed{
      > .collapsible-panel {
        width: 0 !important;
      }
      > .collapsible-panel-controls{
        width: 0 !important;
      }
    }

    > .collapsible-panel {
      right: 0;
      top: 0;
      width: $default-east;
      bottom: 0;
      border-left: 1px solid $border-color;

      > .collapsible-panel-controls{
        left: 0;
        top: 0;
        height: 100%;

        .button-collapse-panel{
          left: 0;
          border-left: none;
          @include border-right-radius($collapse-button-border-radius);
        }
        .button-expand-panel{
          right: 100%;
          border-right: none;
          @include border-left-radius($collapse-button-border-radius);
        }
      }
    }

    &.resizeable{
      > .collapsible-panel {
        > .collapsible-panel-controls{
          background: $border-color;
          cursor: e-resize;
          &:hover{
            width: $resize-tool-width;
          }
        }
      }
    }
  }

  &--bottom{
    &.collapsed{
      > .collapsible-panel {
        height: 0 !important;
      }
      > .collapsible-panel-controls{
        height: 0 !important;
      }
    }

    > .collapsible-panel {
      left: 0; right: 0; bottom: 0;
      height: $default-south;
      border-top: 1px solid $border-color;

      > .collapsible-panel-controls{
        top: 0;
        left: 0;
        width: 100%;

        .button-collapse-panel{
          top: 0;
          border-top: none;
          @include border-bottom-radius($collapse-button-border-radius);
        }
        .button-expand-panel{
          bottom: 100%;
          border-bottom: none;
          @include border-top-radius($collapse-button-border-radius);
        }
      }
    }
    &.resizeable{
      > .collapsible-panel {
        > .collapsible-panel-controls{
          background: $border-color;
          cursor: s-resize;
          &:hover{
            height: $resize-tool-width;
          }
        }
      }
    }
  }

  &--left{
    &.collapsed{
      > .collapsible-panel {
        width: 0 !important;
      }
      > .collapsible-panel-controls{
        width: 0 !important;
      }
    }

    > .collapsible-panel {
      left: 0;
      top: 0;
      width: $default-west;
      bottom: 0;
      border-right: 1px solid $border-color;

      > .collapsible-panel-controls{
        right: 0;
        top: 0;
        height: 100%;

        .button-collapse-panel{
          right: 0;
          border-right: none;
          @include border-left-radius($collapse-button-border-radius);
        }
        .button-expand-panel{
          left: 100%;
          border-left: none;
          @include border-right-radius($collapse-button-border-radius);
        }
      }
    }

    &.resizeable{
      > .collapsible-panel {
        > .collapsible-panel-controls{
          background: $border-color;
          cursor: w-resize;
          &:hover{
            width: $resize-tool-width;
          }
        }
      }
    }
  }

  &--center{
    > .collapsible-panel {
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
    &.collapsed{
      > .collapsible-panel {
        display: none;
      }
    }
  }
}

.collapsible-layout{
  $layout-control-panel-height: 40px;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  .resize-marker{
    z-index: 100;
    position: absolute;
    background: #666;
  }

  .collapsible-layout-control-panel{
    display: none;

    position: absolute;
    width: 100%;
    height: $layout-control-panel-height;
    bottom: 0;
    left: 0;

    background: white;
    border-top: 1px solid $border-color;
  }

  &.responsive-layout{
    @media (max-width: 999px) {
      .collapsible-panel{
        border: none;

        .button-collapse-panel,
        .button-expand-panel{
          display: none;
        }

        &--top,
        &--bottom,
        &--left,
        &--right,
        &--center{
          .collapsible-panel{
            top: 0;
            right: 0;
            bottom: $layout-control-panel-height !important;
            left: 0;
            overflow: auto;

            width: auto !important;
            height: auto !important;
          }
          &.collapsed{
            display: none;
          }
        }
      }

      .collapsible-layout-control-panel{
        display: block;
      }

      .collapsible-panel-controls{
        display: none;
      }
    }
  }
}
